// Design tokens
@import './_tokens/**';

// Custom Fonts
@import './_fonts/**';

// Variables
@import './_variables/**';

// Pages
@import './_pages/**';

// Components
@import './_components/**';

body {
  background-color: var(--creamcolors-color-light-mode-background-page-white);
}

.color-pink {
  .icon-plus,
  .icon-minus,
  .icon-cross {
    background-color: var(--creamcolors-color-brand-pink-3);
  }

  .product-info-btn {
    background-color: var(
      --creamcolors-color-light-mode-background-button-pink
    );
    border: 2px solid var(--creamcolors-color-light-mode-border-button-pink);
    box-shadow: @creamcolors-effect-shadow-button-pink-default-0,
      @creamcolors-effect-shadow-button-pink-default-1;

    &__info-icon-container {
      background-color: var(--creamcolors-color-brand-pink-3);
    }
  }

  .add-to-cart-btn {
    background-color: var(
      --creamcolors-color-light-mode-background-button-pink
    );
    border: 2px solid var(--creamcolors-color-light-mode-border-button-pink);
    box-shadow: @creamcolors-effect-shadow-button-pink-default-0,
      @creamcolors-effect-shadow-button-pink-default-1;

    svg path:first-child {
      fill: var(--creamcolors-color-brand-pink-3);
    }
  }

  .quantity-selector {
    &__qty-bg {
      background-color: var(--creamcolors-color-brand-pink-0);
      border: 1px solid var(--creamcolors-color-brand-pink-3);
      box-shadow: @creamcolors-effect-shadow-button-pink-default-0,
        @creamcolors-effect-shadow-button-pink-default-1;
    }

    &__bin {
      circle {
        fill: var(--creamcolors-color-brand-pink-3);
      }
    }
  }
}

.color-blue {
  .icon-plus,
  .icon-minus,
  .icon-cross {
    background-color: var(--creamcolors-color-brand-blue-3);
  }
  .product-info-btn {
    background-color: var(
      --creamcolors-color-light-mode-background-button-blue
    );
    border: 2px solid var(--creamcolors-color-light-mode-border-button-blue);
    box-shadow: @creamcolors-effect-shadow-button-blue-default-0,
      @creamcolors-effect-shadow-button-blue-default-1;

    &__info-icon-container {
      background-color: var(--creamcolors-color-brand-blue-3);
    }
  }

  .add-to-cart-btn {
    background-color: var(
      --creamcolors-color-light-mode-background-button-blue
    );
    border: 2px solid var(--creamcolors-color-light-mode-border-button-blue);
    box-shadow: @creamcolors-effect-shadow-button-blue-default-0,
      @creamcolors-effect-shadow-button-blue-default-1;

    svg path:first-child {
      fill: var(--creamcolors-color-brand-blue-3);
    }
  }

  .quantity-selector {
    &__qty-bg {
      background-color: var(--creamcolors-color-brand-blue-0);
      border: 1px solid var(--creamcolors-color-brand-blue-3);
      box-shadow: @creamcolors-effect-shadow-button-blue-default-0,
        @creamcolors-effect-shadow-button-blue-default-1;
    }

    &__bin {
      circle {
        fill: var(--creamcolors-color-brand-blue-3);
      }
    }
  }
}

.color-green {
  .icon-plus,
  .icon-minus,
  .icon-cross {
    background-color: var(--creamcolors-color-brand-green-3);
  }
  .product-info-btn {
    background-color: var(
      --creamcolors-color-light-mode-background-button-green
    );
    border: 2px solid var(--creamcolors-color-light-mode-border-button-green);
    box-shadow: @creamcolors-effect-shadow-button-green-default-0,
      @creamcolors-effect-shadow-button-green-default-1;

    &__info-icon-container {
      background-color: var(--creamcolors-color-brand-green-3);
    }
  }

  .add-to-cart-btn {
    background-color: var(
      --creamcolors-color-light-mode-background-button-green
    );
    border: 2px solid var(--creamcolors-color-light-mode-border-button-green);
    box-shadow: @creamcolors-effect-shadow-button-green-default-0,
      @creamcolors-effect-shadow-button-green-default-1;

    svg path:first-child {
      fill: var(--creamcolors-color-brand-green-3);
    }
  }

  .quantity-selector {
    &__qty-bg {
      background-color: var(--creamcolors-color-brand-green-0);
      border: 1px solid var(--creamcolors-color-brand-green-3);
      box-shadow: @creamcolors-effect-shadow-button-green-default-0,
        @creamcolors-effect-shadow-button-green-default-1;
    }

    &__bin {
      circle {
        fill: var(--creamcolors-color-brand-green-3);
      }
    }
  }
}

.icon-plus {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: var(--creamcolors-color-brand-orange-3);
  border-radius: 50%;

  &:before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 3px;
    height: 13px;
    border-radius: 20px;
  }

  &:after {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 13px;
    height: 3px;
    border-radius: 20px;
  }
}

.icon-minus {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: var(--creamcolors-color-brand-orange-3);
  border-radius: 50%;

  &:before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 13px;
    height: 3px;
    border-radius: 20px;
  }
}

.icon-cross {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: var(--creamcolors-color-brand-orange-3);
  border-radius: 50%;

  @media @break-tablet {
    width: 32px;
    height: 32px;
  }

  &:before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 14px;
    height: 3px;
    border-radius: 20px;
    transform: rotate(45deg);
  }

  &:after {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 14px;
    height: 3px;
    border-radius: 20px;
    transform: rotate(-45deg);
  }
}