@import '../_tokens/_cream_colors/_color.less';
@import '../_tokens/_cream_colors/_sizes.less';
@import '../_tokens/_cream_colors/_font-mixins';

.cart {
  padding-bottom: @creamcolors-sizes-large-1;
  background-color: var(--creamcolors-color-light-mode-background-page-white);

  &__wrapper {
    @media @break-tablet {
      display: grid;
      grid-template-rows: repeat(4, auto);
    }

    @media @break-desktop {
      align-items: center;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      width: 100%;
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
    }

    .cart__continue-checkout {
      text-align: center;
    }
  }

  &__total-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: @creamcolors-sizes-small-3;
    padding: @creamcolors-sizes-small-3 @creamcolors-sizes-small-3
      @creamcolors-sizes-medium-1;
    color: var(--creamcolors-color-light-mode-text-orange);

    &--text {
      @creamcolors-font-mobile-title-medium-abril();
    }

    &--price {
      @creamcolors-font-mobile-title-large-abril();
    }

    @media @break-tablet {
      order: 2;
      width: 80%;
      max-width: 530px;
      margin: 0 auto @creamcolors-sizes-medium-3;
    }

    @media @break-desktop {
      order: 3;
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__shopping-cards {
    @media @break-tablet {
      order: 1;
    }
  }

  &__continue-checkout {
    width: 100%;
    margin-bottom: @creamcolors-sizes-medium-1;

    @media @break-tablet {
      order: 4;
      margin-top: @creamcolors-sizes-medium-3;
      margin-right: 50px;
    }

    @media @break-desktop {
      margin-top: 0;
      margin-bottom: 0;
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media @break-tablet {
        justify-content: end;
        padding-right: 66px;
      }

      @media @break-desktop {
        padding-right: 16px;
      }
    }

    button {
      width: 90%;
      height: 38px;
      cursor: pointer;
      border-radius: @creamcolors-sizes-small-3;
      @creamcolors-font-mobile-title-small-quatt();
      font-weight: 700;
      background-color: var(
        --creamcolors-color-light-mode-background-button-blue
      );
      border: 2px solid var(--creamcolors-color-light-mode-border-button-blue);
      box-shadow: var(--creamcolors-effect-shadow-button-blue-default-0),
        var(--creamcolors-effect-shadow-button-blue-default-1);

      @media @break-tablet {
        min-width: 240px;
      }

      &:hover {
        box-shadow: var(--creamcolors-effect-shadow-button-blue-hover);
      }

      &:active {
        box-shadow: var(--creamcolors-effect-shadow-button-blue-active);
      }

      @media @break-tablet {
        width: 100%;
        max-width: 182px;
      }
    }
  }
}
