@import '../_tokens/_color.less';
@import '../_tokens/_sizes.less';
@import '../_tokens/_font-mixins';

.cart {
  margin-bottom: @sizes-large-1;
  &__total-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: @sizes-small-3;
    padding: @sizes-small-3 @sizes-small-3 @sizes-medium-1;
    color: @color-light-mode-text-orange;

    &--text {
      @font-mobile-title-medium-abril();
    }

    &--price {
      @font-mobile-title-large-abril();
    }
  }

  &__continue-checkout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: @sizes-medium-1;

    button {
      width: 90%;
      height: 38px;
      border-radius: @sizes-small-3;
      @font-mobile-title-small-quatt();
      font-weight: 700;
      background-color: @color-light-mode-background-button-blue;
      border: 2px solid @color-light-mode-border-button-blue;
      box-shadow: @effect-shadow-button-blue-default-0,
        @effect-shadow-button-blue-default-1;

      &:hover {
        box-shadow: @effect-shadow-button-blue-hover;
      }

      &:active {
        box-shadow: @effect-shadow-button-blue-active;
      }
    }
  }
}
