@import '../_tokens/_color.less';
@import '../_tokens/_sizes.less';
@import '../_tokens/_font-mixins.less';

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @color-brand-green-0;

  a {
    text-decoration: none;
  }

  &__title {
    @font-desktop-title-large-quatt();
    color: @color-brand-blue-4;
    margin-bottom: 50px;
  }

  &__nav {
    display: grid;
    grid-auto-flow: column;
    gap: 50px;

    &--productList,
    &--cart {
      @font-desktop-title-small-quatt();
      height: 50px;
      min-width: 148px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: @color-brand-blue-0;
      border: solid @sizes-small-1 @color-brand-blue-2;
      border-radius: @sizes-small-3;
      padding: @sizes-small-2 @sizes-small-3;
      cursor: pointer;
      box-shadow: 4px 4px 0px rgba(45, 49, 52, 0.5);

      &::after {
        content: '+';
        display: inline-block;
        width: @sizes-medium-2;
        height: @sizes-medium-2;
        background-color: @color-brand-orange-2;
        border-radius: 50%;
        margin-left: 12px;
        color: @color-brand-black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        font-weight: 700;
      }

      &:hover {
        background-color: @color-brand-blue-3;
        border: solid @sizes-small-1 @color-brand-blue-4;
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}
