@import '../_tokens/_color.less';
@import '../_tokens/_sizes.less';
@import '../_tokens/_font-mixins.less';

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @color-light-mode-background-page-white;
  max-width: 1032px;
  margin-left: auto;
  margin-right: auto;

  @media @break-tablet {
    h2 {
      margin-bottom: @sizes-medium-3;
    }
  }

  .spacer {
    height: 64px;
    width: 100%;
    scroll-snap-align: start;

    @media @break-desktop {
      height: 0px;
    }
  }

  &__wrapping-text {
    position: absolute;
    overflow: visible;
    display: block;
    animation: spin 30s linear infinite;
    fill: @color-brand-orange-3;

    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    text {
      @font-desktop-title-medium-abril();
      font-size: 16px;
    }
  }

  &__hero {
    padding: @sizes-medium-3 @sizes-small-3 @sizes-large-2 @sizes-small-3;

    &--banner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 350px;
      width: 350px;
      margin: auto;

      svg {
        width: 265px;

        @media screen and (max-width: 374px) {
          width: 200px;
        }

        @media @break-tablet {
          width: 288px;
        }
      }

      img {
        height: 121.46px;
      }
    }
  }

  &__presentation {
    padding: @sizes-medium-3 @sizes-small-3 @sizes-large-2 @sizes-small-3;

    &--wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
      }
    }
    &--title {
      @font-mobile-title-medium-abril();
      margin: 0;
    }

    &--description {
      @font-mobile-title-small-quatt();
      line-height: @sizes-medium-1;
    }
    &--mascot {
      margin-left: auto;
      margin-top: @sizes-medium-3;
      img {
        width: 136px;
        height: 122px;
      }

      @media screen and (min-width: 1024px) {
        margin-left: 0;
        margin-top: 0;

        img {
          width: 360px;
          height: 326px;
        }
      }
    }
  }

  &__find-new-color {
    padding: @sizes-medium-3 @sizes-small-3 @sizes-large-2 @sizes-small-3;
    position: relative;
    overflow: hidden;

    &--wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &--title {
      width: 70%;
      @font-mobile-title-large-abril();
      text-align: center;
      margin-top: 0;

      @media @break-tablet {
        width: 100%;
      }
    }
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);

    @media @break-tablet {
      &:nth-of-type(4) {
        height: 100vh;
      }
    }

    @media @break-desktop {
      height: 100vh;
    }
  }

  .wrapper {
    &:nth-child(3n + 1) {
      .product-info-btn {
        background-color: @color-light-mode-background-button-blue;
        border: 2px solid @color-light-mode-border-button-blue;
        box-shadow: @effect-shadow-button-blue-default-0,
          @effect-shadow-button-blue-default-1;

        &__info-icon-container {
          background-color: @color-brand-blue-3;
        }
      }

      .add-to-cart-btn {
        background-color: @color-light-mode-background-button-blue;
        border: 2px solid @color-light-mode-border-button-blue;
        box-shadow: @effect-shadow-button-blue-default-0,
          @effect-shadow-button-blue-default-1;

        svg path:first-child {
          fill: @color-brand-blue-3;
        }
      }
    }

    &:nth-child(3n + 2) {
      .product-info-btn {
        background-color: @color-light-mode-background-button-pink;
        border: 2px solid @color-light-mode-border-button-pink;
        box-shadow: @effect-shadow-button-pink-default-0,
          @effect-shadow-button-pink-default-1;

        &__info-icon-container {
          background-color: @color-brand-pink-3;
        }
      }

      .add-to-cart-btn {
        background-color: @color-light-mode-background-button-pink;
        border: 2px solid @color-light-mode-border-button-pink;
        box-shadow: @effect-shadow-button-pink-default-0,
          @effect-shadow-button-pink-default-1;

        svg path:first-child {
          fill: @color-brand-pink-3;
        }
      }
    }

    &:nth-child(3n + 3) {
      .product-info-btn {
        background-color: @color-light-mode-background-button-green;
        border: 2px solid @color-light-mode-border-button-green;
        box-shadow: @effect-shadow-button-green-default-0,
          @effect-shadow-button-green-default-1;

        &__info-icon-container {
          background-color: @color-brand-green-3;
        }
      }
      .add-to-cart-btn {
        background-color: @color-light-mode-background-button-green;
        border: 2px solid @color-light-mode-border-button-green;
        box-shadow: @effect-shadow-button-green-default-0,
          @effect-shadow-button-green-default-1;

        svg path:first-child {
          fill: @color-brand-green-3;
        }
      }
    }
  }
}
