@import '../_tokens/_brand-1/_color.less';
@import '../_tokens/_brand-1/_sizes.less';
@import '../_variables/_breakpoints.less';

.not-found-wrapper {
  background-color: var(--color-brand-white);
  padding: @sizes-medium-1 @sizes-small-3 @sizes-large-1 @sizes-small-3;

  @media @break-tablet {
    padding: @sizes-medium-3 @sizes-medium-2;
  }

  @media @break-desktop {
    max-width: 1032px;
    margin: 0 auto;
  }

  .not-found {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: @sizes-small-3;

    @media @break-tablet {
      justify-content: flex-start;
      gap: @sizes-medium-2;
    }

    &__logo {
      height: 70px;
      display: inline-flex;
      justify-content: space-between;
      align-self: center;
      gap: @sizes-small-2;

      @media @break-tablet {
        height: 141px;
        gap: @sizes-small-3;
      }

      img {
        height: 70px;

        @media @break-tablet {
          height: 141px;
        }
      }

      span {
        @font-desktop-title-hero-abril();
        line-height: 44px;

        @media @break-tablet {
          font-size: 128px;
          line-height: 90px;
        }
      }
    }

    &__text1,
    &__text2 {
      @font-desktop-body-quatt();

      @media @break-tablet {
        @font-desktop-title-medium-quatt();
        max-width: 377px;
        width: 100%;
        align-self: center;
      }

      @media @break-desktop {
        max-width: 455px;
      }
    }
  }
}
