@import '../_tokens/_color.less';
@import '../_tokens/_typography.less';
@import '../_tokens/_sizes.less';

.not-found-wrapper {
  background-color: @color-brand-white;
  height: 70vh;

  .not-found {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__logo {
      height: 140px;
      width: 320px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      img {
        width: 140px;
        align-self: flex-end;
        position: absolute;
        left: 100px;
      }
      span {
        font: @typography-h1-abril-font-style @typography-h1-abril-font-weight
          @typography-h1-abril-font-stretch 128px /
          @typography-h1-abril-line-height @typography-h1-abril-font-family;
      }
    }

    &__text1 {
      text-align: center;
      font: @typography-h3-quatt-font-style @typography-h3-quatt-font-weight
        @typography-h3-quatt-font-stretch @typography-h3-quatt-font-size /
        @typography-h3-quatt-line-height @typography-h3-quatt-font-family;
    }

    &__text2 {
      font: @typography-h4-quatt-font-style @typography-h4-quatt-font-weight
        @typography-h4-quatt-font-stretch @typography-h4-quatt-font-size /
        @typography-h4-quatt-line-height @typography-h4-quatt-font-family;

      @media screen and (max-width: 834px) {
        width: 80%;
        text-align: center;
      }
    }
  }
}
