@import '../_tokens/_color.less';
@import '../_tokens/_typography.less';
@import '../_tokens/_sizes.less';

.productList {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @color-brand-blue-0;

  a {
    text-decoration: none;
  }

  &__title {
    @font-desktop-h2-quatt();
    color: @color-brand-orange-4;
    margin-bottom: 50px;
  }

  &__nav {
    display: grid;
    grid-auto-flow: column;
    gap: 50px;

    &--shop,
    &--cart {
      @font-desktop-h4-quatt();
      height: 50px;
      min-width: 148px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: @color-brand-blue-0;
      border: solid @sizes-xxxs @color-brand-blue-2;
      border-radius: @sizes-xs;
      padding: @sizes-xxs @sizes-xs;
      cursor: pointer;
      box-shadow: 4px 4px 0px rgba(45, 49, 52, 0.5);

      &::after {
        content: '+';
        display: inline-block;
        width: @sizes-m;
        height: @sizes-m;
        background-color: @color-brand-orange-2;
        border-radius: 50%;
        margin-left: 12px;
        color: @color-brand-black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        font-weight: 700;
      }

      &:hover {
        background-color: @color-brand-blue-3;
        border: solid @sizes-xxxs @color-brand-blue-4;
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}
