@import '../../_tokens/_color.less';
@import '../../_tokens/_sizes.less';
@import '../../_tokens/_typography-mixins.less';

.button {
  height: 50px;
  min-width: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: @sizes-xs;

  @font-desktop-body-quatt();
  padding: @sizes-xxs @sizes-xs;
  cursor: pointer;

  &::before {
    content: '+';
    display: inline-block;
    width: @sizes-m;
    height: @sizes-m;
    border-radius: 50%;
    margin-right: 12px;
    color: @color-brand-black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
  }

  &-blue {
    background-color: @color-brand-blue-0;
    border: solid @sizes-xxxs @color-brand-blue-2;
    box-shadow: 0px 4px 8px darken(@color-brand-blue-2, 20%);
    &:hover {
      border: (@sizes-xxs*0.8) solid @color-brand-blue-2;
      box-shadow: 0px 4px 8px darken(@color-brand-blue-2, 10%);
    }
    &:active {
      border: solid @sizes-xxxs @color-brand-blue-4;
    }
    &::before {
      background-color: @color-brand-blue-3;
    }
  }

  &-pink {
    background-color: @color-brand-pink-0;
    border: solid @sizes-xxxs @color-brand-pink-2;
    box-shadow: 0px 4px 8px darken(@color-brand-pink-2, 20%);
    &:hover {
      border: (@sizes-xxs*0.8) solid @color-brand-pink-2;
      box-shadow: 0px 4px 8px darken(@color-brand-pink-2, 10%);
    }
    &:active {
      border: solid @sizes-xxxs @color-brand-pink-4;
    }
    &::before {
      background-color: @color-brand-pink-3;
    }
  }

  &-green {
    background-color: @color-brand-green-0;
    border: solid @sizes-xxxs @color-brand-green-2;
    box-shadow: 0px 4px 8px darken(@color-brand-green-2, 20%);
    &:hover {
      border: (@sizes-xxs*0.8) solid @color-brand-green-2;
      box-shadow: 0px 4px 8px darken(@color-brand-green-2, 10%);
    }
    &:active {
      border: solid @sizes-xxxs @color-brand-green-4;
    }
    &::before {
      background-color: @color-brand-green-3;
    }
  }

  &-orange {
    background-color: @color-brand-orange-0;
    border: solid @sizes-xxxs @color-brand-orange-2;
    box-shadow: 0px 4px 8px darken(@color-brand-orange-2, 20%);
    &:hover {
      border: (@sizes-xxs*0.8) solid @color-brand-orange-2;
      box-shadow: 0px 4px 8px darken(@color-brand-orange-2, 10%);
    }
    &:active {
      border: solid @sizes-xxxs @color-brand-orange-4;
    }
    &::before {
      background-color: @color-brand-orange-3;
    }
  }
}
