@import '../../_tokens/_color.less';
@import '../../_tokens/_sizes.less';
@import '../../_tokens/_font-mixins.less';
@import '../../_tokens/_effects.less';

.button {
  height: 50px;
  min-width: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: @sizes-small-3;

  @font-desktop-body-quatt();
  padding: @sizes-small-2 @sizes-small-3;
  cursor: pointer;

  &::before {
    content: '+';
    display: inline-block;
    width: @sizes-medium-2;
    height: @sizes-medium-2;
    border-radius: 50%;
    margin-right: 12px;
    color: var(--color-brand-black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
  }

  &-blue {
    background-color: var(--color-brand-blue-0);
    border: solid @sizes-small-1 var(--color-brand-blue-2);
    box-shadow: @effect-shadow-button-blue-default-0;
    &:hover {
      border: (@sizes-small-2*0.8) solid var(--color-brand-blue-2);
      box-shadow: @effect-shadow-button-blue-default-0;
    }
    &:active {
      border: solid @sizes-small-1 var(--color-brand-blue-4);
    }
    &::before {
      background-color: var(--color-brand-blue-3);
    }
  }

  &-pink {
    background-color: var(--color-brand-pink-0);
    border: solid @sizes-small-1 var(--color-brand-pink-2);
    box-shadow: @effect-shadow-button-pink-default-0;
    &:hover {
      border: (@sizes-small-2*0.8) solid var(--color-brand-pink-2);
    }
    &:active {
      border: solid @sizes-small-1 var(--color-brand-pink-4);
      box-shadow: @effect-shadow-button-pink-default-1;
    }
    &::before {
      background-color: var(--color-brand-pink-3);
    }
  }

  &-green {
    background-color: var(--color-brand-green-0);
    border: solid @sizes-small-1 var(--color-brand-green-2);
    box-shadow: @effect-shadow-button-green-default-0;
    &:hover {
      border: (@sizes-small-2*0.8) solid var(--color-brand-green-2);
    }
    &:active {
      border: solid @sizes-small-1 var(--color-brand-green-4);
      box-shadow: @effect-shadow-button-green-default-1;
    }
    &::before {
      background-color: var(--color-brand-green-3);
    }
  }

  &-orange {
    background-color: var(--color-brand-orange-0);
    border: solid @sizes-small-1 var(--color-brand-orange-2);
    box-shadow: @effect-shadow-button-orange-default-0;
    &:hover {
      border: (@sizes-small-2*0.8) solid var(--color-brand-orange-2);
    }
    &:active {
      border: solid @sizes-small-1 var(--color-brand-orange-4);
      box-shadow: @effect-shadow-button-orange-default-1;
    }
    &::before {
      background-color: var(--color-brand-orange-3);
    }
  }
}
