.popular-colors {
  &__wrapper {
    padding: @sizes-medium-3 @sizes-small-3 @sizes-large-2 @sizes-small-3;

    @media @break-tablet {
      padding: @sizes-large-1 @sizes-medium-2 96px @sizes-medium-2;
    }
  }

  &__title {
    @font-mobile-title-large-abril();
    text-align: center;
  }

  &__container {
    padding: @sizes-small-2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    @media @break-tablet {
      flex-direction: row;
    }

    div:nth-child(4) {
      display: none;

      @media @break-desktop {
        display: block;
      }
    }
  }

  &__more-colors {
    padding: 8px;

    @media @break-tablet {
      display: flex;
      justify-content: center;
    }

    button {
      cursor: pointer;
      margin-top: @sizes-medium-2;
      height: 38px;
      width: 100%;
      border-radius: @sizes-small-3;
      @font-mobile-title-small-quatt();
      font-weight: 700;
      background-color: var(--color-light-mode-background-button-orange);
      border: 2px solid var(--color-light-mode-border-button-orange);
      box-shadow: @effect-shadow-button-orange-default-0,
        @effect-shadow-button-orange-default-1;

      &:hover {
        box-shadow: @effect-shadow-button-orange-hover;
      }

      &:active {
        box-shadow: @effect-shadow-button-orange-active;
      }

      @media @break-tablet {
        width: 180px;
      }
    }
  }
}
