.raffled-color {
  &__wrapper {
    display: block;
    position: absolute; //change to fixed later
    top: 70px;
    z-index: 3000;
    max-width: 100%;
  }
  &__card {
    background-color: @color-light-mode-background-page-white;
    border: 2px solid @color-light-mode-border-button-orange;
    border-radius: @sizes-small-3;
    padding: @sizes-small-2 @sizes-small-3 @sizes-medium-2;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: @sizes-medium-1;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: @sizes-small-2;
    height: 50px;

    &--title {
      @font-mobile-title-medium-abril();
    }

    &--logo {
      height: 32px;
    }

    &--cross {
      height: 32px;
      margin-left: auto;
    }
  }

  &__background {
    width: 100%;
    height: 120px;
    border-radius: 50%;
    position: relative;
    z-index: 3;
    pointer-events: none;
    border: 1px solid;
    box-shadow: @effect-shadow-product-card-clockwork-orange;
    border-color: @color-flavor-clockwork-orange-border;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: calc(100% - 5px);
      height: calc(100% - 5px);
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid;
      border-color: @color-flavor-clockwork-orange-border;
      box-shadow: inset @effect-shadow-product-card-clockwork-orange;
    }
  }

  &__img-container {
    position: relative;
    overflow: hidden;
    height: 137px;
    width: 100%;
    border-radius: 45%;
    bottom: 24px;

    img {
      position: absolute;
      bottom: -130px;
      left: 15px;
      transform: scale(1.1);
    }
  }

  &__name-price-container {
    position: absolute;
    max-width: 70px;
    right: 80px;
    top: 15px;
    display: flex;
    flex-direction: column;

    .raffled-color__name {
      margin-bottom: @sizes-small-2;
      @font-mobile-title-small-abril();
      color: @color-light-mode-text-black;
    }

    .raffled-color__price {
      @font-desktop-title-small-abril();
      color: @color-light-mode-text-black;
    }
  }

  &__info {
    @font-mobile-body-quatt();
    margin-bottom: @sizes-medium-3;
  }

  &__description {
    color: @color-light-mode-text-black;
    margin: 0 0 @sizes-medium-1;
  }
  &__properties {
    display: flex;
    margin-left: @sizes-small-2;
    gap: @sizes-medium-2;
  }

  &__nutrition,
  &__allergy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: @sizes-small-1;

    &--icon {
      object-fit: contain;
      height: @sizes-medium-2;
    }

    &--name {
      text-align: center;
      max-width: 45px;
    }
  }

  &__add-to-cart-btn {
    width: 100%;
    height: 40px;
    border-radius: @sizes-small-3;
    background-color: @color-light-mode-background-button-blue;
    border: 2px solid @color-light-mode-border-button-blue;
    box-shadow: @effect-shadow-button-blue-default-0;
    @font-mobile-title-small-quatt();
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: @sizes-small-2;
    cursor: pointer;
    margin: auto;

    &:active {
      border: 2px solid @color-brand-blue-4;
      box-shadow: @effect-shadow-button-blue-active;
    }

    img {
      height: 24px;
    }
  }
}
