.more-products {
  padding: @creamcolors-sizes-medium-3 @creamcolors-sizes-small-3
    @creamcolors-sizes-large-2 @creamcolors-sizes-small-3;

  @media @break-tablet {
    padding: @creamcolors-sizes-large-1 @creamcolors-sizes-medium-2 96px
      @creamcolors-sizes-medium-2;
  }

  @media @break-desktop {
    max-width: 1032px;
    width: 100%;
    margin: auto;
    padding: @creamcolors-sizes-large-2 0 @creamcolors-sizes-large-3 0;
  }

  &__title {
    display: block;
    @creamcolors-font-desktop-title-medium-abril();
    margin-bottom: @creamcolors-sizes-medium-3;
    color: var(--creamcolors-color-light-mode-text-blue);

    @media @break-tablet {
      @creamcolors-font-desktop-title-large-abril();
    }

    @media @break-desktop {
      margin-bottom: @creamcolors-sizes-large-1;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
    gap: @creamcolors-sizes-medium-3;

    @media @break-tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media @break-desktop {
      flex-wrap: nowrap;
      gap: 0;
      justify-content: space-between;
      max-width: none;
    }
  }

  .wrapper:nth-child(4) {
    display: none;

    @media @break-desktop {
      display: block;
    }
  }
}
