.product-info {
  width: 100%;
  padding: @sizes-medium-3 @sizes-small-3;
  margin: auto;

  @media @break-tablet {
    padding: @sizes-large-1 @sizes-medium-2 @sizes-large-1
      calc(@sizes-medium-2 + @sizes-small-3);
  }

  @media @break-desktop {
    max-width: 1032px;
    padding: @sizes-large-2 0 @sizes-large-2 0;
  }

  &__content-wrapper {
    display: grid;
    column-gap: calc(@sizes-medium-1 + @sizes-small-3);

    @media @break-desktop {
      max-width: 1032px;
      width: 100%;
      margin: auto;
    }

    .product-card {
      width: 100%;
      margin: 0;

      @media @break-tablet {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 5;
      }

      &__background {
        margin: 0;

        @media @break-tablet {
          height: 325px;
          width: 325px;
        }

        &::before {
          @media @break-tablet {
            width: 305px;
            height: 305px;
          }
        }
      }

      &__name {
        @media @break-tablet {
          font-size: @sizes-medium-2 !important;
        }
      }

      &__price {
        @media @break-tablet {
          display: none;
        }
      }

      &__name-price-container {
        @media @break-tablet {
          right: 65px;
          top: 112px;
        }
      }

      &__img {
        @media @break-tablet {
          transform: scale(1.9);
          bottom: 91px;
          left: 46px;
        }
      }
    }
  }

  &__title {
    @font-desktop-title-small-abril();
    color: @color-light-mode-text-black;
    display: block;
    margin-bottom: @sizes-medium-1;

    @media @break-tablet {
      margin-bottom: @sizes-small-3;
      grid-column: 2;
      grid-row: 1;
    }
  }

  &__price {
    @font-desktop-title-medium-abril();
    color: @color-light-mode-text-pink;
    display: none;
    margin-top: @sizes-medium-2;

    @media @break-tablet {
      display: block;
    }
  }

  &__description {
    @font-desktop-body-quatt();
    color: @color-light-mode-text-black;

    @media @break-tablet {
      grid-column: 2;
      grid-row: 2;
    }
  }

  &__cta {
    width: 100%;
    height: 40px;
    border-radius: @sizes-small-3;
    background-color: @color-light-mode-background-button-blue;
    border: 2px solid @color-light-mode-border-button-blue;
    box-shadow: @effect-shadow-button-blue-default-0;
    @font-mobile-title-small-quatt();
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: @sizes-medium-1 0 @sizes-medium-3 0;

    @media @break-tablet {
      width: 180px;
      margin: @sizes-medium-2 0 0 0;
    }

    &:active {
      border: 2px solid @color-brand-blue-4;
      box-shadow: @effect-shadow-button-blue-active;
    }

    img {
      transform: scale(0.8);
      margin-right: @sizes-small-2;
    }

    @media @break-tablet {
      width: 180px;
    }
  }
}
