@import '../_tokens/_cream_colors/_color.less';
@import '../_tokens/_cream_colors/_sizes.less';
@import '../_tokens/_cream_colors/_font-mixins.less';

.footer {
  display: grid;
  width: 100%;
  max-width: 100vw;
  row-gap: @creamcolors-sizes-medium-1;
  justify-content: space-between;
  padding: @creamcolors-sizes-medium-3 @creamcolors-sizes-medium-2
    @creamcolors-sizes-large-1 @creamcolors-sizes-medium-2;
  background-color: var(--creamcolors-color-brand-white);
  border-top: 2px solid var(--creamcolors-color-brand-pink-3);

  @media screen and (max-width: 300px) {
    justify-content: center;
  }

  @media screen and (min-width: 475px) {
    gap: @creamcolors-sizes-medium-3;
    justify-content: center;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 1;
    justify-content: center;

    @media screen and (max-width: 300px) {
      grid-row: 1;
      text-align: center;
    }

    span {
      @creamcolors-font-desktop-caption-quatt();

      @media @break-tablet {
        font-size: 16px;
      }
    }

    &--email {
      margin-bottom: @creamcolors-sizes-small-3;
    }
  }

  &__logo {
    display: flex;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    cursor: pointer;

    @media screen and (max-width: 300px) {
      grid-row: 3;
    }

    @media @break-tablet {
      grid-row: 1;
      grid-column: 2;
    }

    a {
      width: 100%;

      img {
        height: 48px;
      }
    }
  }

  &__social {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    align-items: center;
    gap: @creamcolors-sizes-medium-2;

    @media screen and (max-width: 300px) {
      grid-row: 2;
      grid-column: 1;
      justify-content: center;
    }

    @media @break-tablet {
      grid-column: 3;
    }

    img {
      height: 32px;
      cursor: pointer;
    }
  }
}
