@import '../_tokens/_color.less';
@import '../_tokens/_sizes.less';
@import '../_variables/_breakpoints.less';

.header {
  height: @sizes-large-1;
  width: 100%;
  background-color: @color-brand-white;
  padding: 0 @sizes-medium-1;
  position: sticky;
  top: 0;
  z-index: 100;

  @media @break-tablet {
    height: @sizes-large-2;
    padding: 0 @sizes-medium-3;
  }

  @media @break-desktop {
    padding: 0;
  }

  &--vertical {
    &:extend(.header);

    @media @break-desktop {
      position: fixed;
      top: 0;
      left: 50%;
      right: 50%;
      background-color: transparent;
      margin-left: 540px;
      height: 100%;
      width: 72px;
      padding-top: @sizes-small-3;

      .header__wrapper {
        display: grid;
        height: auto;
        justify-content: center;
        justify-items: center;
      }

      .header__logo {
        grid-row: 1;
        margin-bottom: 72px;
      }

      .header__cart {
        grid-row: 2;
        margin-bottom: 332px;
      }

      .header__menu-button {
        flex-direction: column;
        gap: 12px;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @media @break-desktop {
      max-width: 1032px;
      margin: auto;
      padding: 0;
    }
  }

  &__menu-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 14px;

    img {
      height: 24px;
    }

    span {
      @font-mobile-body-quatt();
    }
  }

  &__logo img {
    width: @sizes-small-3;

    @media @break-tablet {
      width: @sizes-medium-1;
    }
  }

  &__cart {
    display: none;
    height: @sizes-medium-2;

    @media @break-tablet {
      display: block;
    }
  }
}

.header-checkout {
  display: grid;
  row-gap: @sizes-small-3;
  padding: @sizes-small-3 @sizes-small-3 @sizes-medium-1 @sizes-small-3;
  background-color: @color-brand-white;

  a {
    text-decoration: none;
  }

  &__back-btn {
    display: inline-flex;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: transparent;
    border: none;
    width: fit-content;
    align-items: center;
    padding: 0;
    cursor: pointer;

    img {
      height: @sizes-medium-1;
      margin-right: 11px;
    }

    span {
      @font-mobile-body-quatt();
    }
  }

  &__title {
    @font-desktop-title-small-quatt();
    grid-row: 1;
    grid-column: 1;
    align-self: center;
  }

  &__logo {
    grid-row: 1;
    grid-column: 2;
    justify-self: flex-end;
    margin-right: 12px;

    img {
      width: @sizes-small-3;
    }
  }
}

.grid-placeholder {
  display: none;

  @media @break-desktop {
    display: block;
  }
}
