@import '../../_tokens/_cream_colors/_color.less';
@import '../../_tokens/_cream_colors/_sizes.less';
@import '../../_tokens/_cream_colors/_font-mixins.less';
@import '../../_variables/_breakpoints.less';

.active-filters-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: @creamcolors-sizes-medium-2 @creamcolors-sizes-small-3 0
    @creamcolors-sizes-small-3;
  justify-content: flex-start;
  row-gap: 16px;
  column-gap: 20px;

  @media @break-tablet {
    row-gap: 20px;
    padding: @creamcolors-sizes-medium-2 @creamcolors-sizes-medium-2 0
      @creamcolors-sizes-medium-2;
  }

  @media @break-desktop {
    max-width: 1032px;
    padding: @creamcolors-sizes-medium-2 0 0 0;
    margin: auto;
  }

  &__no-filters {
    color: var(--creamcolors-color-light-mode-text-black);
  }

  &__title {
    @creamcolors-font-desktop-body-quatt();
    margin: 0;
    color: var(--creamcolors-color-light-mode-text-black);

    @media @break-tablet {
      @creamcolors-font-desktop-title-small-abril();
    }
  }
}

.active-filter {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--creamcolors-color-brand-orange-0);
  border-radius: @creamcolors-sizes-small-3;
  border: 2px solid var(--creamcolors-color-brand-orange-2);
  box-shadow: @creamcolors-effect-shadow-button-orange-default-0;
  min-width: 130px;
  height: @creamcolors-sizes-medium-1;
  position: relative;
  padding: 0 0 0 @creamcolors-sizes-small-2;

  @media @break-tablet {
    height: @creamcolors-sizes-medium-2;
  }

  span {
    @creamcolors-font-desktop-body-quatt();
    margin: 0 @creamcolors-sizes-small-2 0 @creamcolors-sizes-small-1;
  }

  &__icon {
    height: @creamcolors-sizes-medium-1;
    margin-right: @creamcolors-sizes-small-2;

    @media @break-tablet {
      height: @creamcolors-sizes-medium-2;
    }
  }

  &__prohibition {
    height: @creamcolors-sizes-medium-1;
    position: absolute;
    left: 11px;

    @media @break-tablet {
      height: @creamcolors-sizes-medium-2;
    }
  }

  &__cross {
    height: @creamcolors-sizes-medium-1;
    position: absolute;
    right: -5px;
    cursor: pointer;

    @media @break-tablet {
      height: @creamcolors-sizes-medium-2;
    }
  }

  &__spacer {
    height: 32px;
    width: 32px;
  }
}
