@import '../../_tokens/_color.less';
@import '../../_tokens/_typography.less';
@import '../../_tokens/_sizes.less';

.filter {
  &-dropdown {
    display: inline-block;
    position: relative;

    &-btn {
      height: 50px;
      min-width: 190px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: @sizes-xs;
      border: 2px solid @color-light-mode-border-button-orange;
      background-color: @color-light-mode-background-page-orange;
      box-shadow: 0px 2px 2px @color-brand-orange-3;
      font: @typography-body-quatt-font-style 700
        @typography-body-quatt-font-stretch @typography-body-quatt-font-size /
        @typography-body-quatt-line-height @typography-body-quatt-font-family;
      padding: @sizes-xxs @sizes-xs;
      cursor: pointer;

      &:active,
      &:focus {
        border: 2px solid @color-brand-orange-4;
        box-shadow: 0px 4px 4px @color-brand-orange-4;
      }

      &__arrow {
        margin-left: auto;
        &.rotated {
          transform: rotate(90deg);
        }
      }
    }
    &-items {
      width: 190px;
      overflow: scroll;
      display: block;
      position: absolute;
      margin-top: @sizes-xxs;
      border: @sizes-xxxs solid @color-brand-orange-2;
      border-radius: @sizes-xs;
      background-color: @color-brand-orange-0;
      font: @typography-body-quatt-font-style @typography-body-quatt-font-weight
        @typography-body-quatt-font-stretch @typography-body-quatt-font-size /
        @typography-body-quatt-line-height @typography-body-quatt-font-family;
      padding: @sizes-xxs @sizes-xs;
      box-shadow: 0px 4px 8px darken(@color-brand-orange-2, 10%);

      li {
        display: flex;
        list-style: none;
        margin-bottom: @sizes-xxs;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.25));
        }

        img {
          width: 25.5px;
          height: 100%;
          margin-right: 10px;
        }

        .checkbox-container {
          display: block;
          position: relative;
          padding-left: 28px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          //Remove default checkbox appearence
          input[type='checkbox'] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked {
              /* When the checkbox is checked, add a blue background */
              & ~ .checkmark {
                /* Show the checkmark when checked */
                &:after {
                  display: block;
                }
              }
            }
          }

          //Create custom checkbox
          .checkmark {
            position: absolute;
            top: 20%;
            left: 0;
            height: @sizes-xs;
            width: @sizes-xs;
            border: 2px solid @color-brand-black;
            border-radius: @sizes-xxxs;
            &:hover {
              text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            &:after {
              content: '';
              position: absolute;
              display: none;
              top: 2px;
              left: 2px;
              border-radius: 2px;
              width: @sizes-xxs;
              height: @sizes-xxs;
              background-color: @color-brand-black;
            }
          }
        }

        .item-name {
          white-space: nowrap;
        }
      }
    }
  }
}
