.filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 900px;

  h4 {
    font: @typography-h4-abril-font-style @typography-h4-abril-font-weight
      @typography-h4-abril-font-stretch @typography-h4-abril-font-size /
      @typography-h4-abril-line-height @typography-h4-abril-font-family;
  }
}
