@import '../../_variables/_breakpoints.less';

.filters {
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  display: block;
  padding: 0 20px 0 16px;

  @media @break-tablet {
    padding: 36px @sizes-medium-2 0 @sizes-medium-2;
    display: inline-flex;
  }

  @media @break-desktop {
    display: flex;
    max-width: 1032px;
    margin: auto;
    padding: 36px 0 0 0;
  }

  &__title {
    @media @break-tablet {
      display: none;
    }
  }

  .visible {
    display: flex;
  }

  .hide {
    display: none !important;
  }

  h4 {
    @font-desktop-title-small-abril();
    margin: 0;
  }

  .filters-container {
    display: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: @sizes-medium-1;

    @media @break-tablet {
      display: flex;
    }
  }

  .filters-container-mobile {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 48px;

    @media @break-tablet {
      display: none;
    }
  }

  .mobile-arrow {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: @sizes-small-3;

    @media @break-tablet {
      display: none;
    }
  }

  .mobile-divider {
    background-color: @color-brand-blue-3;
    box-shadow: @effect-shadow-button-blue-default-0;
    position: absolute;
    left: 0;
    bottom: -@sizes-small-3;
    z-index: 0;
    height: 2px;
    width: 100%;
    display: block;

    @media @break-tablet {
      display: none;
    }
  }

  .apply-filters {
    z-index: 1;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: @effect-shadow-button-blue-default-0;
    background-color: @color-light-mode-background-page-white;
    border: 1px solid @color-light-mode-border-button-blue;
    border-right: 3px solid @color-light-mode-border-button-blue;
    border-left: 3px solid @color-light-mode-border-button-blue;

    @media @break-tablet {
      display: none;
    }

    #apply-filters-btn {
      @font-desktop-body-quatt();
      font-weight: 700;
      height: 38px;
      width: 80%;
      border-radius: @sizes-small-3;
    }
  }
}
