@import '../../_tokens/_color.less';
@import '../../_tokens/_typography.less';
@import '../../_tokens/_sizes.less';
@import '../_mixins/_breakpoints.less';

.product-list {
  background-color: @color-light-mode-background-page-white;
  /* arbitrary height */
  min-height: 70vh;

  &-container {
    width: 80%;
    margin: 0 auto;

    .breakpoint-tablet({
      width: 95%;
    });

    .breakpoint-mobile({
      width: 100%;
    });
  }
}
