@import '../../_tokens/_cream_colors/_color.less';
@import '../../_tokens/_cream_colors/_sizes.less';
@import '../../_variables/_breakpoints.less';

.product-list {
  background-color: var(--color-light-mode-background-page-white);
  padding-top: 5px;

  @media @break-tablet {
    padding: 0;
  }

  &-container {
    .product-cards-container {
      display: grid;
      gap: @sizes-medium-3;
      padding: @sizes-medium-3 @sizes-small-3 @sizes-large-2 @sizes-small-3;

      @media @break-tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: @sizes-medium-3 @sizes-medium-2 96px @sizes-medium-2;
        row-gap: calc(@sizes-medium-3 + @sizes-small-2);
      }

      @media screen and (min-width: @size-tablet) and (max-width: 1000px) {
        justify-content: space-between;
      }

      @media screen and (min-width: 900px) {
        column-gap: @sizes-large-3;
      }

      @media @break-desktop {
        max-width: 1032px;
        margin: auto;
        display: grid;
        column-gap: 103px;
        grid-template-columns: auto auto auto auto;
        padding: calc(@sizes-medium-3 + 12px) 0 @sizes-large-3 0;
      }

      .wrapper:nth-child(3n + 1) {
        .product-info-btn {
          background-color: var(--color-light-mode-background-button-blue);
          border: 2px solid var(--color-light-mode-border-button-blue);
          box-shadow: @effect-shadow-button-blue-default-0,
            @effect-shadow-button-blue-default-1;

          &__info-icon-container {
            background-color: var(--color-brand-blue-3);
          }
        }

        .add-to-cart-btn {
          background-color: var(--color-light-mode-background-button-blue);
          border: 2px solid var(--color-light-mode-border-button-blue);
          box-shadow: @effect-shadow-button-blue-default-0,
            @effect-shadow-button-blue-default-1;

          svg path:first-child {
            fill: var(--color-brand-blue-3);
          }
        }
      }

      .wrapper:nth-child(3n + 2) {
        .product-info-btn {
          background-color: var(--color-light-mode-background-button-pink);
          border: 2px solid var(--color-light-mode-border-button-pink);
          box-shadow: @effect-shadow-button-pink-default-0,
            @effect-shadow-button-pink-default-1;

          &__info-icon-container {
            background-color: var(--color-brand-pink-3);
          }
        }

        .add-to-cart-btn {
          background-color: var(--color-light-mode-background-button-pink);
          border: 2px solid var(--color-light-mode-border-button-pink);
          box-shadow: @effect-shadow-button-pink-default-0,
            @effect-shadow-button-pink-default-1;

          svg path:first-child {
            fill: var(--color-brand-pink-3);
          }
        }
      }

      .wrapper:nth-child(3n + 3) {
        .product-info-btn {
          background-color: var(--color-light-mode-background-button-green);
          border: 2px solid var(--color-light-mode-border-button-green);
          box-shadow: @effect-shadow-button-green-default-0,
            @effect-shadow-button-green-default-1;

          &__info-icon-container {
            background-color: var(--color-brand-green-3);
          }
        }
        .add-to-cart-btn {
          background-color: var(--color-light-mode-background-button-green);
          border: 2px solid var(--color-light-mode-border-button-green);
          box-shadow: @effect-shadow-button-green-default-0,
            @effect-shadow-button-green-default-1;

          svg path:first-child {
            fill: var(--color-brand-green-3);
          }
        }
      }
    }
  }
}
