@import '../../_tokens/_color.less';
@import '../../_tokens/_typography.less';
@import '../../_tokens/_sizes.less';

.product-list {
  background-color: @color-light-mode-background-page-white;
  /* arbitrary height */
  height: 70vh;

  &-container {
    width: 80%;
    margin: 0 auto;

    @media screen and (max-width: 834px) {
      width: 95%;
    }

    @media screen and (max-width: 425px) {
      width: 100%;
    }
  }
}
