@import '../../_tokens/_color.less';
@import '../../_tokens/_sizes.less';
@import '../../_tokens/_font-mixins.less';
@import '../../_variables/_breakpoints.less';

.wrapper {
  position: relative;
}

.product-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
  cursor: pointer;
  width: 100%;

  &__wrapping-text {
    position: absolute;
    overflow: visible;
    display: none;
    animation: spin 30s linear infinite;

    @media @break-tablet {
      display: block;
    }

    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    text {
      @font-desktop-title-medium-abril();
      font-size: 14px;
    }

    .clockwork-orange {
      fill: @color-flavor-clockwork-orange-fill-front;
      stroke: @color-flavor-clockwork-orange-border;
    }

    .red-planet {
      fill: @color-flavor-red-planet-fill-front;
      stroke: @color-flavor-red-planet-border;
    }

    .green-land {
      fill: @color-flavor-green-land-fill-front;
      stroke: @color-flavor-green-land-border;
    }

    .yellow-submarine {
      fill: @color-flavor-yellow-submarine-fill-front;
      stroke: @color-flavor-yellow-submarine-border;
    }

    .vivacious-violet {
      fill: @color-flavor-vivacious-violet-fill-front;
      stroke: @color-flavor-vivacious-violet-border;
    }

    .pink-panther {
      fill: @color-flavor-pink-panther-fill-front;
      stroke: @color-flavor-pink-panther-border;
    }

    .feeling-blue {
      fill: @color-flavor-feeling-blue-fill-front;
      stroke: @color-flavor-feeling-blue-border;
    }

    .blue-clue {
      fill: @color-flavor-blue-clue-fill-front;
      stroke: @color-flavor-blue-clue-border;
    }

    .gray-anatomy {
      fill: @color-flavor-gray-anatomy-fill-front;
      stroke: @color-flavor-gray-anatomy-border;
    }

    .puzzled-plum {
      fill: @color-flavor-puzzled-plum-fill-front;
      stroke: @color-flavor-puzzled-plum-border;
    }
  }

  &__background {
    width: 100%;
    height: 120px;
    border: 5px solid @color-brand-pink-0;
    box-shadow: @effect-shadow-product-card-pink-panther;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    z-index: 3;
    pointer-events: none;
    margin-bottom: @sizes-medium-1;

    @media @break-tablet {
      width: 180px;
      height: 180px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: calc(100% - 5px);
      height: calc(100% - 5px);
      border-radius: 50%;
      background-color: transparent;
      box-shadow: inset @effect-shadow-product-card-pink-panther;

      @media @break-tablet {
        width: 170px;
        height: 170px;
      }
    }
  }

  &__img,
  &__properties {
    position: absolute;
  }

  &__img-container {
    position: relative;
    overflow: hidden;
    height: 150px;
    border-radius: 42%;
    bottom: 44px;

    @media @break-tablet {
      position: static;
    }
  }

  &__img {
    bottom: -110px;
    left: 50px;
    transform: scale(1.6);

    img {
      width: 73%;
    }

    @media @break-tablet {
      transform: scale(1);
      bottom: 25px;
      left: -8px;
    }
  }

  &__name-price-container {
    position: absolute;
    max-width: 70px;
    right: 50px;
    top: 15px;
    display: flex;
    flex-direction: column;

    @media @break-tablet {
      right: 8px;
      top: 45px;
    }

    .product-card__name {
      margin-bottom: @sizes-small-2;
      @font-mobile-title-small-abril();
      color: @color-light-mode-text-black;
    }

    .product-card__price {
      @font-desktop-title-small-abril();
      color: @color-light-mode-text-black;
    }
  }

  .hide-properties {
    @media @break-tablet {
      display: none !important;
    }
  }

  &__properties {
    position: absolute;
    top: 40px;
    left: -18px;
    width: 180px;
    height: 100px;
    z-index: 2;
    display: flex !important;

    @media @break-tablet {
      top: 50%;
      display: flex;
    }

    .product-card__property-container {
      height: 32px;
      width: 38px;
      border-radius: 32px;
      background-color: @color-brand-orange-0;
      border: 1px solid @color-brand-orange-2;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-shadow: @effect-shadow-button-orange-default-0;
      position: relative;

      &:first-child {
        top: 0px;
      }

      &:nth-child(2) {
        top: 30px;
        left: -12px;

        @media @break-tablet {
          top: 38px;
          left: -20px;
        }
      }

      &:nth-child(3) {
        top: 46px;
        left: -9px;

        @media @break-tablet {
          top: 64px;
          left: -20px;
        }
      }

      &:nth-child(4) {
        top: 53px;
        left: -4px;

        @media @break-tablet {
          top: 67px;
          left: -10px;
        }
      }
    }

    img {
      position: absolute;
      transform: scale(0.7);
    }
  }

  &__info-container {
    position: absolute;
    border-radius: 50%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: @sizes-small-2 36px;
    z-index: 1;

    .product-card__description {
      text-align: center;
      &--text {
        color: @color-brand-white;
        @font-mobile-title-small-quatt();
        font-weight: 700;
      }
    }

    .product-card__category {
      position: absolute;
      bottom: -18px;
      right: 12px;
      width: 73px;
      height: 49px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      @media @break-tablet {
        bottom: -15px;
        right: auto;
      }

      &.cold {
        background-color: @color-brand-blue-4;
        border-radius: @sizes-small-3;
        box-shadow: @effect-shadow-button-blue-default-0;
        color: @color-brand-white;
      }

      &.hot {
        background-color: @color-brand-pink-0;
        border-radius: @sizes-small-3;
        box-shadow: @effect-shadow-button-pink-default-0;
        color: @color-brand-black;
      }

      img {
        height: 24px;
        width: fit-content;
      }

      span {
        @font-mobile-caption-quatt();
      }
    }
  }

  &.pink-panther {
    .product-card__background {
      box-shadow: @effect-shadow-product-card-pink-panther;

      &:before {
        box-shadow: inset @effect-shadow-product-card-pink-panther;
      }
    }

    .product-card__info-container {
      background-color: fade(@color-flavor-pink-panther-fill-back-1, 50%);
    }
  }

  &.clockwork-orange {
    .product-card__background {
      box-shadow: @effect-shadow-product-card-clockwork-orange;

      &:before {
        box-shadow: inset @effect-shadow-product-card-clockwork-orange;
      }
    }

    .product-card__info-container {
      background-color: fade(@color-flavor-clockwork-orange-fill-back-1, 50%);
    }
  }

  &.red-planet {
    .product-card__background {
      box-shadow: @effect-shadow-product-card-red-planet;

      &:before {
        box-shadow: inset @effect-shadow-product-card-red-planet;
      }
    }

    .product-card__info-container {
      background-color: fade(@color-flavor-red-planet-fill-back-1, 50%);
    }
  }

  &.feeling-blue {
    .product-card__background {
      box-shadow: @effect-shadow-product-card-feeling-blue;

      &:before {
        box-shadow: inset @effect-shadow-product-card-feeling-blue;
      }
    }

    .product-card__info-container {
      background-color: fade(@color-flavor-feeling-blue-fill-back-1, 50%);
    }
  }

  &.blue-clue {
    .product-card__background {
      box-shadow: @effect-shadow-product-card-blue-clue;

      &:before {
        box-shadow: inset @effect-shadow-product-card-blue-clue;
      }
    }

    .product-card__info-container {
      background-color: fade(@color-flavor-blue-clue-fill-back-1, 50%);
    }
  }

  &.green-land {
    .product-card__background {
      box-shadow: @effect-shadow-product-card-green-land;

      &:before {
        box-shadow: inset @effect-shadow-product-card-green-land;
      }
    }

    .product-card__info-container {
      background-color: fade(@color-flavor-green-land-fill-back-1, 50%);
    }
  }

  &.yellow-submarine {
    .product-card__background {
      box-shadow: @effect-shadow-product-card-yellow-submarine;

      &:before {
        box-shadow: inset @effect-shadow-product-card-yellow-submarine;
      }
    }

    .product-card__info-container {
      background-color: fade(@color-flavor-yellow-submarine-fill-back-1, 50%);
    }
  }

  &.gray-anatomy {
    .product-card__background {
      box-shadow: @effect-shadow-product-card-gray-anatomy;

      &:before {
        box-shadow: inset @effect-shadow-product-card-gray-anatomy;
      }
    }

    .product-card__info-container {
      background-color: fade(@color-flavor-gray-anatomy-fill-back-1, 50%);
    }
  }

  &.puzzled-plum {
    .product-card__background {
      box-shadow: @effect-shadow-product-card-puzzled-plum;

      &:before {
        box-shadow: inset @effect-shadow-product-card-puzzled-plum;
      }
    }

    .product-card__info-container {
      background-color: fade(@color-flavor-gray-anatomy-fill-back-1, 50%);
    }
  }

  //this effect is missing
  &.vivacious-violet {
    .product-card__background {
      box-shadow: @effect-shadow-product-card-puzzled-plum;
      &:before {
        box-shadow: inset @effect-shadow-product-card-puzzled-plum;
      }
    }

    .product-card__info-container {
      background-color: fade(@color-flavor-vivacious-violet-fill-back-1, 50%);
    }
  }
}

.product-info-btn {
  right: -12px;
  top: 35px;
  width: 62px;
  height: 40px;
  border-radius: @sizes-small-3;
  background-color: @color-light-mode-background-button-orange;
  border: 2px solid @color-light-mode-border-button-orange;
  box-shadow: @effect-shadow-button-orange-default-0;
  z-index: 2;
  cursor: pointer;
  pointer-events: all;
  position: absolute;

  &__info-icon-container {
    margin: auto;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    img {
      margin: 0;
      height: 12px;
    }
  }

  @media @break-tablet {
    top: 3px;
  }

  &:hover {
    box-shadow: @effect-shadow-button-orange-hover;
  }

  &:active {
    border: 2px solid @color-brand-orange-4;
    box-shadow: @effect-shadow-button-orange-active;
  }
}

.add-to-cart-btn {
  width: 100%;
  height: 40px;
  border-radius: @sizes-small-3;
  background-color: @color-light-mode-background-button-orange;
  border: 2px solid @color-light-mode-border-button-orange;
  box-shadow: @effect-shadow-button-orange-default-0;
  @font-mobile-title-small-quatt();
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media @break-tablet {
    width: 180px;
  }

  &:active {
    border: 2px solid @color-brand-orange-4;
    box-shadow: @effect-shadow-button-orange-active;
  }

  svg {
    transform: scale(0.8);
    margin-right: @sizes-small-2;
  }
}
