@font-face {
  font-family: 'Quattrocento Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quattrocentosans/v18/va9a4lja2NVIDdIAAoMR5MfuElaRB0zMt0o.ttf) format('truetype');
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quattrocentosans/v18/va9X4lja2NVIDdIAAoMR5MfuElaRB0zMj_bTPXk.ttf) format('truetype');
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quattrocentosans/v18/va9c4lja2NVIDdIAAoMR5MfuElaRB3zO.ttf) format('truetype');
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quattrocentosans/v18/va9Z4lja2NVIDdIAAoMR5MfuElaRB0RykmrW.ttf) format('truetype');
}
.cart {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdedd7;
}
.cart a {
  text-decoration: none;
}
.cart__title {
  font: normal 400 normal 48px / 57.6px Quattrocento Sans;
  color: #207d1a;
  margin-bottom: 50px;
}
.cart__nav {
  display: grid;
  grid-auto-flow: column;
  gap: 50px;
}
.cart__nav--shop,
.cart__nav--productList {
  height: 50px;
  min-width: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 400 normal 24px / 33.6px Quattrocento Sans;
  background-color: #cafdfc;
  border: solid 4px #60d6d4;
  border-radius: 16px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 4px 4px 0px rgba(45, 49, 52, 0.5);
}
.cart__nav--shop::after,
.cart__nav--productList::after {
  content: '+';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #f1b669;
  border-radius: 50%;
  margin-left: 12px;
  color: #2d3134;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}
.cart__nav--shop:hover,
.cart__nav--productList:hover {
  background-color: #37ccc9;
  border: solid 4px #077a77;
}
.cart__nav--shop:active,
.cart__nav--productList:active {
  box-shadow: none;
}
.landing {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5fff5;
}
.landing a {
  text-decoration: none;
}
.landing__title {
  font: normal 400 normal 48px / 57.6px Quattrocento Sans;
  color: #077a77;
  margin-bottom: 50px;
}
.landing__nav {
  display: grid;
  grid-auto-flow: column;
  gap: 50px;
}
.landing__nav--productList,
.landing__nav--cart {
  height: 50px;
  min-width: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 400 normal 24px / 33.6px Quattrocento Sans;
  background-color: #cafdfc;
  border: solid 4px #60d6d4;
  border-radius: 16px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 4px 4px 0px rgba(45, 49, 52, 0.5);
}
.landing__nav--productList::after,
.landing__nav--cart::after {
  content: '+';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #f1b669;
  border-radius: 50%;
  margin-left: 12px;
  color: #2d3134;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}
.landing__nav--productList:hover,
.landing__nav--cart:hover {
  background-color: #37ccc9;
  border: solid 4px #077a77;
}
.landing__nav--productList:active,
.landing__nav--cart:active {
  box-shadow: none;
}
.not-found {
  background-color: #2d3134;
  height: 70vh;
}
.not-found__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.not-found__container h2 {
  font: normal 400 normal 48px / 57.6px Quattrocento Sans;
  color: #f1b669;
}
.not-found__container h2:hover {
  transform: scale(1.2);
}
.not-found__container h3 {
  font: normal 400 normal 32px / 44.8px Quattrocento Sans;
  color: #a65809;
}
.productList {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cafdfc;
}
.productList a {
  text-decoration: none;
}
.productList__title {
  font: normal 400 normal 48px / 57.6px Quattrocento Sans;
  color: #a65809;
  margin-bottom: 50px;
}
.productList__nav {
  display: grid;
  grid-auto-flow: column;
  gap: 50px;
}
.productList__nav--shop,
.productList__nav--cart {
  height: 50px;
  min-width: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 400 normal 24px / 33.6px Quattrocento Sans;
  background-color: #cafdfc;
  border: solid 4px #60d6d4;
  border-radius: 16px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 4px 4px 0px rgba(45, 49, 52, 0.5);
}
.productList__nav--shop::after,
.productList__nav--cart::after {
  content: '+';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #f1b669;
  border-radius: 50%;
  margin-left: 12px;
  color: #2d3134;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}
.productList__nav--shop:hover,
.productList__nav--cart:hover {
  background-color: #37ccc9;
  border: solid 4px #077a77;
}
.productList__nav--shop:active,
.productList__nav--cart:active {
  box-shadow: none;
}
nav {
  height: 10vh;
  width: 100%;
  background-color: #fcfbf4;
}
nav .nav-container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-container .nav-brand-logo {
  width: 32px;
  height: 64px;
}
nav .nav-container .nav-brand-logo img {
  width: 100%;
  height: 100%;
}
nav .nav-container .nav-cart-logo {
  position: absolute;
  right: 0%;
  width: 40px;
  height: 32px;
  transition: transform 0.1s ease;
}
nav .nav-container .nav-cart-logo img {
  width: 100%;
  height: 100%;
}
nav .nav-container .nav-cart-logo:hover {
  transform: scale(1.1);
}
footer {
  height: 20vh;
  background-color: #fcfbf4;
  border-top: 1px solid #98a1a8;
}
footer .footer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}
footer .footer-contact span {
  font: normal 400 normal 16px / 22.4px Quattrocento Sans;
}
footer .footer-logo {
  text-align: center;
  /* background-color: blue; */
}
footer .footer-logo img {
  width: 15%;
}
footer .footer-social {
  text-align: center;
  /* background-color: white; */
}
footer .footer-social img:first-child {
  margin-right: 1em;
}
footer .footer-social img {
  cursor: pointer;
  transition: transform 0.1s ease;
}
footer .footer-social img:hover {
  transform: scale(1.1);
}
