@color-brand-black: #2d3134;
@color-brand-grey-3: #656e74;
@color-brand-grey-2: #98a1a8;
@color-brand-grey-1: #cfd3d6;
@color-brand-white: #fcfbf4;
@color-brand-blue-4: #077a77;
@color-brand-blue-3: #37ccc9;
@color-brand-blue-2: #60d6d4;
@color-brand-blue-1: #98fcfa;
@color-brand-blue-0: #e9ffff;
@color-brand-pink-4: #bc443f;
@color-brand-pink-3: #ff8782;
@color-brand-pink-2: #ffb8b5;
@color-brand-pink-1: #ffdddb;
@color-brand-pink-0: #fff5f5;
@color-brand-orange-4: #a65809;
@color-brand-orange-3: #ed9f3a;
@color-brand-orange-2: #f1b669;
@color-brand-orange-1: #fbd7a6;
@color-brand-orange-0: #fff5e7;
@color-brand-green-4: #207d1a;
@color-brand-green-3: #5ecc37;
@color-brand-green-2: #60d665;
@color-brand-green-1: #cafdcc;
@color-brand-green-0: #f5fff5;
@color-brand-purple-4: #511a7d;
@color-brand-purple-3: #8a37cc;
@color-brand-purple-2: #b060d6;
@color-brand-purple-1: #e7cafd;
@color-brand-purple-0: #fcf5ff;
@color-flavor-pink-panther-border: #ffb8b5;
@color-flavor-pink-panther-fill-back-0: #2d3134;
@color-flavor-pink-panther-fill-back-1: #ffb8b5;
@color-flavor-pink-panther-fill-front: #fff5f5;
@color-flavor-clockwork-orange-border: #f1b669;
@color-flavor-clockwork-orange-fill-back-0: #2d3134;
@color-flavor-clockwork-orange-fill-back-1: #f1b669;
@color-flavor-clockwork-orange-fill-front: #fff5e7;
@color-flavor-red-planet-border: #e9322a;
@color-flavor-red-planet-fill-back-0: #2d3134;
@color-flavor-red-planet-fill-back-1: #e9322a;
@color-flavor-red-planet-fill-front: #ffd5d3;
@color-flavor-feeling-blue-border: #5d78d0;
@color-flavor-feeling-blue-fill-back-0: #2d3134;
@color-flavor-feeling-blue-fill-back-1: #5d78d0;
@color-flavor-feeling-blue-fill-front: #e9eeff;
@color-flavor-blue-clue-border: #3db1c9;
@color-flavor-blue-clue-fill-back-0: #2d3134;
@color-flavor-blue-clue-fill-back-1: #3db1c9;
@color-flavor-blue-clue-fill-front: #d7f8ff;
@color-flavor-green-land-border: #60d665;
@color-flavor-green-land-fill-back-0: #2d3134;
@color-flavor-green-land-fill-back-1: #60d665;
@color-flavor-green-land-fill-front: #f5fff5;
@color-flavor-vivacious-violet-border: #9154df;
@color-flavor-vivacious-violet-fill-back-0: #2d3134;
@color-flavor-vivacious-violet-fill-back-1: #9154df;
@color-flavor-vivacious-violet-fill-front: #f3eaff;
@color-flavor-yellow-submarine-border: #fec513;
@color-flavor-yellow-submarine-fill-back-0: #2d3134;
@color-flavor-yellow-submarine-fill-back-1: #fec513;
@color-flavor-yellow-submarine-fill-front: #fff6d9;
@color-flavor-gray-anatomy-border: #98a1a8;
@color-flavor-gray-anatomy-fill-back-0: #2d3134;
@color-flavor-gray-anatomy-fill-back-1: #98a1a8;
@color-flavor-gray-anatomy-fill-front: #ebf6ff;
@color-flavor-puzzled-plum-border: #ba9cff;
@color-flavor-puzzled-plum-fill-back-0: #2d3134;
@color-flavor-puzzled-plum-fill-back-1: #ba9cff;
@color-flavor-puzzled-plum-fill-front: #f5f1ff;
@color-light-mode-background-button-blue: #e9ffff;
@color-light-mode-background-button-pink: #fff5f5;
@color-light-mode-background-button-orange: #fff5e7;
@color-light-mode-background-button-green: #f5fff5;
@color-light-mode-background-page-white: #fcfbf4;
@color-light-mode-background-page-blue: #e9ffff;
@color-light-mode-background-page-pink: #fff5f5;
@color-light-mode-background-page-orange: #fff5e7;
@color-light-mode-background-page-green: #f5fff5;
@color-light-mode-background-page-purple: #fcf5ff;
@color-light-mode-border-button-blue: #37ccc9;
@color-light-mode-border-button-pink: #ff8782;
@color-light-mode-border-button-orange: #ed9f3a;
@color-light-mode-border-button-green: #5ecc37;
@color-light-mode-border-section-blue: #37ccc9;
@color-light-mode-border-section-orange-light: #ed9f3a;
@color-light-mode-border-section-orange-dark: #a65809;
@color-light-mode-border-section-purple: #8a37cc;
@color-light-mode-text-black: #2d3134;
@color-light-mode-text-blue: #077a77;
@color-light-mode-text-pink: #bc443f;
@color-light-mode-text-orange: #a65809;
@color-light-mode-text-green: #207d1a;
@color-light-mode-text-grey: #656e74;
@color-light-mode-icon-black: #2d3134;
@color-light-mode-icon-blue: #37ccc9;
@color-light-mode-icon-pink: #ff8782;
@color-light-mode-icon-orange: #ed9f3a;
@color-light-mode-icon-green: #5ecc37;
@color-main-background-white: #fcfbf4;