@effect-product-list-shadow: 0 2px 8px 0 #ffb8b5ff;
@effect-checkbox-shadow: 4px 4px 2px 0 #00000040;
@effect-button-blue-default-0: 0 4px 4px 0 #37ccc980;
@effect-button-blue-default-1: 0 4px 4px 0 #2d313440;
@effect-button-blue-hover: 0 4px 8px 0 #60d6d4bf;
@effect-button-blue-active: 0 4px 4px 0 #077a7780;
@effect-button-blue-disabled: 0 4px 4px 0 #077a7740;