.light-theme {
  --color-background: #d5d5d5;
  --color-text-primary: #191919;
  --color-button-background: #191919;
  --color-button-text: #b2b2b2;
}
.dark-theme {
  --color-background: #444444;
  --color-text-primary: #dedede;
  --color-button-background: #d1d1d1;
  --color-button-text: #191919;
}
