.light-theme {
  --color-test-pink-panther: #ffb8b5;
  --color-test-clockwork-orange: #f1b669;
  --color-test-red-planet: #e9322a;
  --color-test-feeling-blue: #5d78d0;
  --color-test-blue-clue: #3db1c9;
  --color-test-green-land: #60d665;
  --color-test-vivacious-violet: #9154df;
  --color-test-yellow-submarine: #fec513;
  --color-test-gray-anatomy: #98a1a8;
  --color-test-puzzled-plum: #ba9cff;

  --color-background: #d5d5d5;
  --color-text-primary: #191919;
  --color-button-background: #191919;
  --color-button-text: #b2b2b2;
}
.dark-theme {
  --color-test-pink-panther: #ff8a86;
  --color-test-clockwork-orange: #c26e00;
  --color-test-red-planet: #b20f06;
  --color-test-feeling-blue: #0d40e6;
  --color-test-blue-clue: #0092af;
  --color-test-green-land: #028709;
  --color-test-vivacious-violet: #5f17bd;
  --color-test-yellow-submarine: #b88a01;
  --color-test-gray-anatomy: #717171;
  --color-test-puzzled-plum: #7236fc;

  --color-background: #444444;
  --color-text-primary: #dedede;
  --color-button-background: #d1d1d1;
  --color-button-text: #191919;
}
